@(user: String)

@import _root_.utils.DockerServices

@import scala.util.Try

<h2>List of available images (local)</h2>
<ul>
@for(image <- DockerServices.getDockerImages.map(img => (img, DockerServices.getMetadata(img)))) {
    <li>
        <b>@(Try(image._2.get.getString("caption")).getOrElse(image._1))</b>
        @if(image._2.isDefined) {
            @if(image._2.get.hasPath("imageUrl")) {
                <img src="@(image._2.get.getString("imageUrl"))" alt="logo" />
            }
            @if(image._2.get.hasPath("description")) {
                <i>@image._2.get.getString("description")</i>
            }
        }
        @if(!DockerServices.serviceIsRunning(user, image._1)) {
            <a href="/create-service/@image._1">Start service</a>
        }
    </li>
}
</ul>
